
@media (min-width: 320px) and (max-width: 767px){

.hide_xs{
  display: none !important;
}
.hide_lg{
  display: block;
}
.header-social-links {
    padding-right: 0;
}
.hdr_top li{
  display: none;
}
.hdr_top .mail{
  display: block;
  font-size: 12px;
  margin-left: 0;
  padding-right: 10px;
}
.hdr_top ul{
  padding: 0;
  float: left;
}
.mail .fa {
    background: none;
    width: auto;
    height: auto;
    text-align: left;
    margin-right: 2px;
}
.mobile-nav-toggle{
  top: 7px;
}
.section-title h2{
  font-size: 28px;
}
.services .col-md-6{
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 5px;
  margin-bottom: 10px !important;
}
.services .icon-box {
  padding: 5px;
  margin: 0px 0 0;
}
.icon img{
  width: 75px;
}
.services .title {
    font-size: 14px;
}
.cta .col-md-3{
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.cta {
  padding: 50px 0;
}
.tech .col-md-2 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 5px;
}
.tech_inr {
    margin: 5px 0;  
}
.clients-wrap .col-xs-6{
  flex: 0 0 50%;
  max-width: 50%;
}
.clients .client-logo {
    height: 75px;
    padding: 0;
}

}